<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add New Student</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name*</label>
                                        <input type="text" class="form-control" placeholder="Company" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name*</label>
                                        <input type="text" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email*</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="education">Highest Level of Education*</label>
                                        <select class="form-control" id="education">
                                          <option>Select an Education Level</option>
                                          <option value="masters">Masters or Professional </option>
                                          <option value="bs">Bachelor Degree </option>
                                          <option value="college">College Degree </option>
                                          <option value="diploma">Diploma Degree </option>
                                          <option value="others">Others</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Username*</label>
                                        <input type="text" class="form-control" placeholder="Username" name="userName" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="password">Password*</label>
                                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="confirm">Confirm Password*</label>
                                        <input type="password" class="form-control" placeholder="Re-Enter Password" name="confirm" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="program">Program of Study*</label>
                                        <select class="form-control" id="program">
                                          <option value="qa-automation">QA Automation Engineering</option>
                                          <option value="qa-manual">Manual Software Testing</option>
                                          <option value="qa-performance">Software Performance Engineering</option>
                                          <option value=".net">.Net Development</option>
                                          <option value="front-end">Front End Development</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image Url*</label>
                                        <input type="text" class="form-control" placeholder="Image Url">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Add Student</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" width="295px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Full Name</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>